<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Suite Testing">
        <classes>
            <class name="restAssured_API/aPITraining/postRequest"/>
            <class name="restAssured_API/aPITraining/getRequest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->